<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">

    <insert id="insert" parameterType="com.example.entity.Comment">
        insert into comment(film_id,score,comment,user_id,time,type) values (#{filmId},#{score},#{comment},
                                                                              #{userId},#{time},#{type})
    </insert>

    <update id="updateById">
        update comment set film_id = #{filmId},score= #{score},comment= #{comment},user_id= #{userId},
        time= #{time},type= #{type}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from comment where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Comment">
        select comment.*, film.name as filmName, user.name as userName from comment
        left join film on comment.film_id = film.id
        left join user on comment.user_id = user.id
        <where>
            <if test="filmName != null">and film.name like concat('%', #{filmName},'%')</if>
            <if test="userId != null">and comment.user_id = #{userId}</if>
            <if test="type != null">and comment.type = #{type}</if>
            <if test="filmId != null">and comment.film_id = #{filmId}</if>
        </where>
        order by comment.id desc
    </select>
</mapper>